* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
  color: #FFFFFF;

}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}


.heading{
  font-size: 40px;
  font-weight: 700;
  font-family: 'Inter';
  margin-left: 27px;
}

ul{
 

}

.maintxt{
  font-size: 16px;
  margin-bottom: 20px;
}

li::marker{
  width: 9.61px;
height: 9.61px;
  color: #61DAFB;
}

.txt{
  margin-bottom: 20px;
  font-size: 16px;
}

main{
  background-image: url(C:\Users\rkapi\OneDrive\Desktop\react-info-site\img\imgbck.png);
  background-repeat: no-repeat;
  background-position: right 

}